#footer {
    position: fixed;
    height: 40px;
    background-color: #98c4b7;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 10px;
}

.rs{
    position: absolute;
    right: 3%;
    float: right;
    display: inline-block;
    font-size: 20px;
}


