.nav-link {
    color: black;
    font-size: 17px;
    font-weight: 600;
}

nav{
    position: relative;
    padding: 1% 5% 0% 0%;
}

.logo{
    position: absolute;
    top: 20%; 
    left: 5%; 
}

.shadow-sm.p-3.mb-5.bg-white.rounded{
    height: 100px;
}

.col-lg-6.col-md-6.mb-4.d-flex.align-items-stretch{
    width: 500px;
}